body {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.SpFaPQ67BSqQE66BCLdXvQHaEK&pid=Api&P=0&h=180');
  background-repeat: no-repeat;
  background-size: cover;
}

#pokeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokeCard {
  width: 18%;
  height: 250px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url('https://csg.tinkercad.com/things/63kmAiH6EHq/t725.png?rev=180&s=&v=0');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .pokeCard {
    width: 20%;
  }
}

@media (max-width: 992px) {
  .pokeCard {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .pokeCard {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .pokeCard {
    width: 100%;
  }
}

  
  .modal img {
    width: 100%;
    height: 100%;
  }
  
  .form-check {
    display: inline-block; 
    margin-right: 10px; 
  }